@import 'reset/reset.css';

body {
  line-height: 1.5;
  overflow: hidden;
  background: #2694f1;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.section {
  will-change: transform;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.section:last-of-type {
  background: #333;
}
@media (max-width: 720px) {
  .section {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.section__wrapper {
  padding: 0 4vw;
  margin-left: 50%;
}
@media (max-width: 720px) {
  .section__wrapper {
    margin-left: 20vw;
    margin-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .section__wrapper {
    margin-left: 30vw;
  }
}
.section__nav {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 720px) {
  .section__nav {
    width: 20vw;
    background: rgba(0,0,0,0.2);
  }
}
@media (max-width: 500px) {
  .section__nav {
    width: 25vw;
  }
}
.section__nav-item {
  margin: 10px 0;
}
.section__nav-item .section__nav-link.active > svg {
  opacity: 1;
  stroke-width: 20px;
  stroke: rgba(255,255,255,0.3);
}
.section__nav-item:nth-child(1) .section__nav-link.active > svg {
  -webkit-transform: scale(4) translate(6.2vw, 40px);
      -ms-transform: scale(4) translate(6.2vw, 40px);
          transform: scale(4) translate(6.2vw, 40px);
}
.section__nav-item:nth-child(2) .section__nav-link.active > svg {
  -webkit-transform: scale(4) translate(6.2vw, 15px);
      -ms-transform: scale(4) translate(6.2vw, 15px);
          transform: scale(4) translate(6.2vw, 15px);
}
.section__nav-item:nth-child(3) .section__nav-link.active > svg {
  -webkit-transform: scale(4) translate(6.2vw, -10px);
      -ms-transform: scale(4) translate(6.2vw, -10px);
          transform: scale(4) translate(6.2vw, -10px);
}
.section__nav-item:nth-child(4) .section__nav-link.active > svg {
  -webkit-transform: scale(4) translate(6.2vw, -30px);
      -ms-transform: scale(4) translate(6.2vw, -30px);
          transform: scale(4) translate(6.2vw, -30px);
}
@media (max-width: 720px) {
  .section__nav-item:nth-child(1) .section__nav-link.active > svg {
    -webkit-transform: scale(3.5) translate(55px, 20px);
        -ms-transform: scale(3.5) translate(55px, 20px);
            transform: scale(3.5) translate(55px, 20px);
  }
  .section__nav-item:nth-child(2) .section__nav-link.active > svg {
    -webkit-transform: scale(3.5) translate(60px, -5px);
        -ms-transform: scale(3.5) translate(60px, -5px);
            transform: scale(3.5) translate(60px, -5px);
  }
  .section__nav-item:nth-child(3) .section__nav-link.active > svg {
    -webkit-transform: scale(4) translate(60px, -25px);
        -ms-transform: scale(4) translate(60px, -25px);
            transform: scale(4) translate(60px, -25px);
  }
  .section__nav-item:nth-child(4) .section__nav-link.active > svg {
    -webkit-transform: scale(4) translate(50px, -55px);
        -ms-transform: scale(4) translate(50px, -55px);
            transform: scale(4) translate(50px, -55px);
  }
}
@media (max-width: 500px) {
  .section__nav-item:nth-child(1) .section__nav-link.active > svg {
    -webkit-transform: scale(3) translate(48px, 3.5vh);
        -ms-transform: scale(3) translate(48px, 3.5vh);
            transform: scale(3) translate(48px, 3.5vh);
  }
  .section__nav-item:nth-child(2) .section__nav-link.active > svg {
    -webkit-transform: scale(3) translate(50px, -0.7vh);
        -ms-transform: scale(3) translate(50px, -0.7vh);
            transform: scale(3) translate(50px, -0.7vh);
  }
  .section__nav-item:nth-child(3) .section__nav-link.active > svg {
    -webkit-transform: scale(3) translate(50px, -2.5vh);
        -ms-transform: scale(3) translate(50px, -2.5vh);
            transform: scale(3) translate(50px, -2.5vh);
  }
  .section__nav-item:nth-child(4) .section__nav-link.active > svg {
    -webkit-transform: scale(3) translate(48px, -8.5vh);
        -ms-transform: scale(3) translate(48px, -8.5vh);
            transform: scale(3) translate(48px, -8.5vh);
  }
}
.section__nav-link {
  display: block;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.section__nav-link svg {
  will-change: transform, opacity, stroke;
  width: 70px;
  height: 70px;
  margin: 0 4vw;
  fill: #00ffcf;
  opacity: 0.5;
  padding: 10px;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
@media (max-width: 500px) {
  .section__nav-link svg {
    width: 55px;
    height: 55px;
  }
}
.section__title {
  color: #00ffcf;
  font-weight: 300;
  margin: 0 0 25px 0;
}
@media (max-width: 720px) {
  .section__title {
    margin: 0 0 13.5px 0;
  }
}
.section p {
  font-size: 20px;
  margin: 0;
  color: rgba(0,0,0,0.8);
  max-width: 640px;
}
@media (max-width: 720px) {
  .section p {
    font-size: 16px;
  }
}
.logo {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 4;
}
img {
  width: 45px;
}


.back {
  position: fixed;
  z-index: 9999;
  bottom: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  color: #1a1a1a;
}

.back > svg {
	fill: #1a1a1a;
  margin-right: 15px;
}
